faster-whisper==1.0.2
sentencepiece
sox
jiwer
presidio-analyzer
presidio-anonymizer
regex
langdetect
transformers==4.40.2
scikit-learn
qdarkstyle
streamlit==1.33.0
streamlit-extras
pandas
sqlite-utils
PyPDF2
reportlab
tabulate
